.links-container {
    display: grid;
    grid-template-rows: 60px 1fr;
    padding: 4vh 10vw;
}

.links-content {
    display: flex;
    justify-content: space-between;
}

.button-add {
    width: 18vw;
    height: 6vh;
    border-radius: 4px;
    background-color: rgb(224, 67, 39);
    color: rgb(197, 194, 194);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
}

.links-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 3px;
}

.links-section .img img{
    padding-right: 20px;
    width: 80px;
    
}

.links-section .links.group-labels {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.links-section .links.buttonActions {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 2px;
}

.links-section .links.links.buttonActions span{
    margin-right: 0;
}