.signup-container {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
}

.signup-container h2{
    padding-left: 5vw;
    font-family: Roboto, sans-serif;
    font-weight: 200;
}

.signup-content {
    padding: 20px 20px;
    height: 33vh;
    width: 100%; 
}

.signup-content .form-group {
    padding: 1vh 0;
}

.form-group .input-email, 
.form-group .input-password {
    width: 100%;
    height: 6vh;
    border-radius: 6px;
    background-color: rgba(255, 230, 204, 0.911);
}


.signup-content .button-signup{
    width: 30vw;
    height: 6vh;
    margin-top: 20px;
    border-radius: 16px;
    background-color: rgb(224, 67, 39);
    color: rgb(197, 194, 194);
    font-weight: bold;
    font-size: 18px;
}